linphone-desktop-all-git-*.pkg.tar.xz
linphone-desktop-all-git-*.log
PKGBUILD-namcap.log
bcg729/
bcmatroska2/
bctoolbox/
bcunit/
belcard/
belle-sip/
belr/
bv16-floatingpoint/
bzrtp/
codec2/
decaf/
ffmpeg/
gsm/
libjpeg-turbo/
libvpx/
libxml2/
libxsd/
lime/
linphone-cmake-builder/
linphone-desktop/
linphone-sdk/
linphone/
mbedtls/
mediastreamer2/
minizip/
msamr/
mscodec2/
msopenh264/
mssilk/
mswasapi/
mswebrtc/
opencore-amr/
openh264/
opus/
ortp/
pkg/
soci/
speex/
sqlite3/
src/
srtp/
vo-amrwbenc/
webrtc/
xerces-c/
zlib/
zxing-cpp/
