stages:
  - build
  - publish

build:
  stage: build
  image: archlinux:base-devel
  script:
    - pacman -Syu --noconfirm
    - useradd builduser -m
    - passwd -d builduser
    - printf 'builduser ALL=(ALL) ALL\n' | tee -a /etc/sudoers
    - sudo -u builduser sh -c "gpg --recv-key EBE41E90F6F12F6D && makepkg -s --noconfirm"
  artifacts:
    paths:
      - "*.pkg.tar.zst"
  timeout: 2h

publish:
  stage: publish
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - apk add curl
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "firedragon-unsigned-extensions-$CI_COMMIT_TAG-x86_64.pkg.tar.zst" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/firedragon-unsigned-extensions/$CI_COMMIT_TAG/firedragon-unsigned-extensions-$CI_COMMIT_TAG-x86_64.pkg.tar.zst"'
