stages:
  - build
  - publish

build:
  stage: build
  image: stefanwimmer128/archlinux-chaotic-paru-user:latest
  before_script:
    - paru -Syu --noconfirm shellspec-bin
  script:
    - makepkg -s --noconfirm
  artifacts:
    paths:
      - "*.pkg.tar.zst"
  timeout: 2h

publish:
  stage: publish
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - apk add curl
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "jq.sh-$CI_COMMIT_TAG-any.pkg.tar.zst" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/jq.sh/$CI_COMMIT_TAG/jq.sh-$CI_COMMIT_TAG-any.pkg.tar.zst"'
