stages:
  - build
  - publish

build:
  stage: build
  image: registry.stefanwimmer128.io/stefanwimmer128/archlinux-chaotic-paru-user:latest
  before_script:
    - gpg --keyserver keys.openpgp.org --recv-key 14F26682D0916CDD81E37B6D61B7B526D98F0353
    - paru -Syu --noconfirm
  script:
    - makepkg -s --noconfirm
  artifacts:
    paths:
      - "*.pkg.tar.zst"
  timeout: 2h

publish:
  stage: publish
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - apk add curl
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file "firedragon-unsigned-extensions-$CI_COMMIT_TAG-x86_64.pkg.tar.zst" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/firedragon-unsigned-extensions/$CI_COMMIT_TAG/firedragon-unsigned-extensions-$CI_COMMIT_TAG-x86_64.pkg.tar.zst"'
