a/
b/
minimap
atom-autocomplete-php
pigments
toolbar-fusion
node_modules
*/*.pkg.tar.*
pkg/
src/
*/v*.tar.gz
*/*.log
repository/
apm/
atom/
about-arch
archive-view
atom-keymap
autocomplete-atom-api
autocomplete-css
autocomplete-html
autocomplete-plus
autocomplete-snippets
autoflow
hyper*
autosave
background-tips
bookmarks
bracket-matcher
cached-run-in-this-context
coffee-script
command-palette
dark-bint-syntax
deprecation-cop
dev-live-reload
encoding-selector
find-and-replace
fusion-ui
fuzzy-finder
git*/
gpp-compiler/
file-icons/
linter*/
script/
tool-bar/
autocomplete*/
ask-stack/
go-to-line
grammar-selector
image-view
incompatible-packages
keybinding-resolver
line-ending-selector
link
markdown-preview
mydict
notifications
open-on-github
package-generator
package-sync
settings-view
snippets
spell-check
status-bar
styleguide
symbols-view
tabs
terminal-fusion
timecop
tree-view
update-package-dependencies
welcome
whitespace
wrap-guide
language-*
branches
hooks
info
objects
refs
config
description
FETCH_HEAD
HEAD
packed-refs
*.gz
*.xz
*haskell*
*hlint
