pkgbase = r-savr
	pkgdesc = Parse and analyze Illumina SAV files
	pkgver = 1.37.0
	pkgrel = 1
	url = https://bioconductor.org/packages/savR
	arch = any
	license = AGPL
	depends = r
	depends = r-ggplot2
	depends = r-gridextra
	depends = r-reshape2
	depends = r-scales
	depends = r-xml
	optdepends = r-cairo
	optdepends = r-testthat
	source = https://bioconductor.org/packages/release/bioc/src/contrib/savR_1.37.0.tar.gz
	sha256sums = aaa9fb13c19f25bc5152dc9e8940089fd1e793af1166d9ad87fcd6a6e3e1918f

pkgname = r-savr
