pkgbase = resvg-qt
	pkgdesc = SVG rendering library and CLI (Linked against Qt)
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/RazrFalcon/resvg
	arch = i686
	arch = x86_64
	license = MPL2
	makedepends = cargo
	makedepends = qt5-tools
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = gdk-pixbuf2
	depends = qt5-base
	provides = resvg
	conflicts = resvg
	source = resvg-qt-0.8.0.tar.gz::https://github.com/RazrFalcon/resvg/archive/v0.8.0.tar.gz
	sha256sums = f204d4c49622d5bf5467e04ec16cd9e67cab957ea3d44a499915675cc1196bc3

pkgname = resvg-qt

