# This rule makes the Intel IPU6 sensor accessible to members of group 'video',
# allowing icamerasrc to be used as an unprivileged user.
SUBSYSTEM=="intel-ipu6-psys",GROUP="video",MODE="0660"
