# udev rules for user control over ROG USB RGB keyboard backlight control (i.e "ROG Aura Core")

# GL553, GL753
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1854", GROUP="users", MODE="0660"
# GL503, FX503, GL703
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1869", GROUP="users", MODE="0660"
# GL504, GL703, GX501, GM501
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1866", GROUP="users", MODE="0660"

