"""Allow shrinko8 to work without exposing its top-level module
names to the global module namespace."""

import python_qualify
python_qualify.enable_submodules(__name__)

__version__ = '{{ pkgver }}'
