[Desktop Entry]
Name=Arch Update Full
Comment=Protocolo Cyberpunk: Atualizador Completo
Exec=gnome-terminal -- /usr/bin/arch-update-full
Icon=/usr/share/pixmaps/logoarchupdatefull.jpeg
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=update;arch;pacman;yay;flatpak;
