[Desktop Entry]
Name=Arena Tracker
GenericName=Arena Tracking Software
Comment=Free and open source software to track your Hearthstone Arena runs
Exec=arena-tracker
Icon=/usr/share/pixmaps/arena-tracker.ico
Terminal=false
Type=Application
Categories=Game;
