[Unit]
Description=Backrest Daemon for %I.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=%i
Restart=on-failure
Environment=BACKREST_RESTIC_COMMAND=/usr/bin/restic
ExecStart=/usr/bin/backrest

[Install]
WantedBy=multi-user.target
