[Unit]
Description=Daemon for graphing traffic of subnet machines - Web UI
PartOf=bandwidthd.service

[Service]
User=bandwidthd
Group=bandwidthd
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
StateDirectory=bandwidthd
RuntimeDirectory=bandwidthd
ConfigurationDirectory=bandwidthd
RestrictSUIDSGID=true
SystemCallArchitectures=native
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true
RemoveIPC=true
UMask=066
ProtectHostname=true
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ExecStart=/usr/bin/nginx -c /etc/bandwidthd/bandwidthd-webui.conf
PIDFile=bandwidthd/bandwidthd-webui.pid

[Install]
WantedBy=bandwidthd.service
