[Desktop Entry]
Version=1.0
Type=Application
Icon=/opt/games/Bastion/Bastion.png
Exec=/usr/bin/bastion
Terminal=false
StartupNotify=false
Name=Bastion
Comment=An original action role-playing game set in a lush imaginative world
Categories=Game;
