[Unit]
Description=BGPalerter
After=network.target

[Service]
Type=simple
Restart=on-failure
User=bgpalerter
ExecStart=/opt/bgpalerter/bgpalerter
WorkingDirectoy=/opt/bgpalerter

[Install]
WantedBy=multi-user.target
