[Desktop Entry]
Version=1.0
Name=BlastEM
Comment=BlastEm - The fast and accurate Genesis emulator
Exec=blastem
Icon=BlastEM
Terminal=false
Type=Application
Categories=Game;Emulator;
Keywords=sega;smd;game;blastem;
