[Desktop Entry]
Version=1.0
Type=Application

Name=BoilR
Comment=Add non-steam games to your steam library
Categories=Utility;Amusement;
Keywords=Steam;Heroic;Lutris;Itch;Origin;GOG;UPlay;Icons;Images;Non-Steam;Games;

Icon=boilr
Exec=boilr-gui
Terminal=false
StartupNotify=true
