[Desktop Entry]
Name=Bricklink Studio
Type=Application
Exec=bricklink-studio %f
Icon=bricklink-studio
Terminal=false
MimeType=application/bricklink-studio-model
Encoding=UTF-8

