[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Bridge Designer 2015
Comment=The Bridge Design Contest is an Internet-based competition that provides middle school and high school students with a realistic, engaging introduction to engineering.
Exec=bridgedesigner
Icon=bridgedesigner
Terminal=false
StartupNotify=true
Categories=Game;Simulation;
