[Desktop Entry]
Name=Bros Launcher
Comment=Virtual Machine for Bros OS Testing
Exec=BrosLauncher
Icon=broslauncher
Terminal=false
Type=Application
Categories=System;Utility;