[Unit]
Description=BitTorrent client daemon
Documentation=https://github.com/btpd/btpd
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/btpd --no-daemon

[Install]
WantedBy=multi-user.target
