# https://github.com/moby/buildkit/issues/1793#issuecomment-743727939
[Unit]
Description=BuildKit
Documentation=https://github.com/moby/buildkit

[Socket]
ListenStream=/var/run/buildkit/buildkitd.sock

[Install]
WantedBy=sockets.target
