[Unit]
Description=Bypass DPI service
IDocumentation=https://github.com/hufrea/byedpi/blob/main/readme.txt
Wants=network-online.target
OAfter=network-online.target nss-lookup.target

[Service]
EnvironmentFile=/etc/byedpi.conf
ExecStart=/usr/bin/ciadpi \
    --ip ${IP} \
    --port ${PORT} \
    $ARGS

[Install]
WantedBy=multi-user.target
