[Desktop Entry]
Name=Cabana
Comment=CAN Bus Visualizer & Analyzer
Exec=cabana %u
Icon=/usr/share/icons/hicolor/scalable/apps/cabana.svg
Terminal=false
Type=Application
Categories=Qt;Development;Engineering;
MimeType=application/x-can-log;text/x-can-log;text/x-asc-log;text/x-trc-log;