[Unit]
Description=TOMOYO Linux Auditing Daemon

[Service]
Type=forking
ExecStart=/usr/bin/ccs-auditd
ExecRestart=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
