[Desktop Entry]
Type=Application
Name=Cecilia
Comment=Audio signal processing environment aimed at sound designers
Icon=cecilia
Exec=/usr/bin/cecilia
Terminal=false
Categories=AudioVideo;Audio;
