[Unit]
Description=CFEngine Execution Daemon
After=syslog.target

[Service]
ExecStart=/usr/bin/cf-execd
Type=forking
PIDFile=/srv/cfengine/cf-execd.pid

[Install]
WantedBy=multi-user.target
