#!/bin/bash
export JAVA_HOME=/usr/lib/jvm/java-{{ java }}-openjdk
exec "${JAVA_HOME}/bin/java" \
  -cp '/usr/lib/cgm-life-dataexport/app/*' \
  -p {{ modulePath }} \
  -Djpackage.app-version={{ pkgver }} \
  --add-modules {{ modules }} \
  com.cgm.life.dataexport.Main \
  "$@"
