[Desktop Entry]
Type=Application
Exec=chad-launcher
Icon=chad-launcher
Terminal=false
Categories=Game;Application;
Name=Chad Launcher
Comment=GNU/LINUX GAMING UNLEASHED!
StartupNotify=true

