[Unit]
Description=ChatLab HTTP API Service for %I
Documentation=https://chatlab.fun
After=network.target
Conflicts=chatlab-web@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/chatlab start --headless
Restart=always
RestartSec=5
SyslogIdentifier=chatlab-api
User=%i

[Install]
WantedBy=multi-user.target
