[Desktop Entry]
Name=The Secret of Monkey Island (EGA, Italian)
GenericName=MonkeyEGA
Comment=Adventure point-and-click game by LucasArts published in 1991
Type=Application
TryExec=scummvm
Exec=scummvm --path=/usr/games/com.lucasarts.TheSecretOfMonkeyIsland/it monkeyEGA
Icon=com.lucasarts.TheSecretOfMonkeyIsland
Categories=Games;
Terminal=false
Keywords=Monkey

X-Desktop-File-Install-Version=0.26
