[Desktop Entry]
Categories=Qt;Graphics;Viewer;RasterGraphics;VectorGraphics;2DGraphics;Photography;
Exec=ImageViewer %F
Icon=ImageViewer
StartupNotify=true
Type=Application
Terminal=false
MimeType=application/x-navi-animation;image/bmp;image/gif;image/x-icns;image/jpeg;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-quicktime;image/svg+xml;image/x-tga;image/tiff;image/vnd.microsoft.icon;image/vnd.zbrush.pcx;image/x-pcx;image/x-win-bitmap;image/wmf;image/x-wmf;image/x-xbitmap;image/x-xpixmap;
Name=Image Viewer
GenericName=Image Viewer
Comment=Simple, cross-platform image viewer
InitialPreference=9
