[Desktop Entry]
Name=ImageViewer
GenericName=Image Viewer
Categories=Graphics;Viewer;RasterGraphics;VectorGraphics;2DGraphics;Photography;Qt;
Comment=Simple, cross-platform image viewer
Exec=ImageViewer %F
Icon=ImageViewer
Terminal=false
MimeType=inode/directory;image/avif;image/gif;image/heif;image/jpeg;image/jxl;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;image/x-xcf;image/openraster;image/svg+xml;image/svg+xml-compressed;
InitialPreference=9
Type=Application
