[Unit]
Description=Courier IMAP (SSL) Daemon
Requires=authdaemond.service
After=authdaemond.service

[Service]
Type=forking
User=courier
Group=courier
EnvironmentFile=/etc/courier-imap/imapd
ExecStart=/usr/lib/courier-imap/imapd-ssl.rc start
ExecStop=/usr/lib/courier-imap/imapd-ssl.rc stop
PIDFile=/run/courier/imapd-ssl.pid
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID

[Install]
WantedBy=multi-user.target
