[Desktop Entry]
Name=Darkan
GenericName=Darkan
Comment=Open source 2021 Runescape Emulation
Exec=darkan
Icon=Darkan
Terminal=false
Type=Application
Categories=Game;
