[Unit]
Description = Datomic (Free Edition)

[Service]
User = datomic
Type = simple
ExecStart = /usr/lib/datomic/bin/transactor -Xmx4G -Xms1G /usr/lib/datomic/config/transactor.properties
Restart = always

[Install]
WantedBy = multi-user.target