[Desktop Entry]
Categories=Game;
Comment=A mod manager for the Valve game Deadlock
Exec=deadlock-modmanager
Icon=deadlock-modmanager
Name=Deadlock Mod Manager
Terminal=false
Type=Application
