[Unit]
Description=Remote socks proxy service
Requires=network.target
After=network.target 

[Service]
Type=forking
PIDFile=%t/demuxer.pid
RemainAfterExit=no
ExecStart=/usr/share/remoteit/demuxer -f /usr/share/remoteit/demuxer.conf -d -p %t/demuxer.pid
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10s
TimeoutStartSec=0
StartLimitInterval=60s
StartLimitBurst=86400

[Install]
WantedBy=multi-user.target
