[Unit]
Description=Denarius: Ancient money for a new world
Wants=network.target
After=network.target

[Service]
ProtectHome=true
ProtectSystem=true
SyslogIdentifier=denariusd
ExecStartPre=/bin/sh -ec "if ! test -s /var/lib/denarius/denarius.conf; \
                then umask 0077; \
                /usr/bin/mkdir -p /var/lib/denarius ; \
                /usr/bin/denariusd -port=0 -conf=/dev/null 2>&1 | grep -A 1 rpcuser > /var/lib/denarius/denarius.conf; \
                echo 'WARNING: A new /var/lib/denarius/denarius.conf file has been generated.'; \
            fi"
ExecStart=/usr/bin/denariusd -datadir=/var/lib/denarius

[Install]
WantedBy=multi-user.target
