[Desktop Entry]
Name=DiRT 2
Comment=Colin McRae: DiRT 2 WINE
Exec=/usr/bin/dirt2
Icon=dirt2
Terminal=false
Type=Application
Categories=Application;Game;
