[Unit]
Description=Update DuckDNS domain addresses
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/duckdns
User=duckdns
Group=duckdns

[Install]
WantedBy=multi-user.target
