[Desktop Entry]
Name=Dwarf Fortress (Ironhand tileset)
GenericName=Dwarf Fortress
Comment=Build a fortress and try to help your dwarves survive against a deeply generated world.
Exec=dwarffortress
Icon=/usr/share/pixmaps/dwarffortress.png
Terminal=false
Type=Application
Categories=Game;
