[Unit]
Description=etcd

[Service]
User=etcd
PermissionsStartOnly=true
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_NAME=%H
Environment=ETCD_INITIAL_CLUSTER=%H=http://localhost:2380,%H=http://localhost:7001
EnvironmentFile=-/etc/conf.d/etcd
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
