[Unit]
Description=Aladdin eToken service

[Service]
ExecStart=/usr/bin/SACSrv
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=null

[Install]
WantedBy=multi-user.target
