[Desktop Entry]
Name=SNES.emu
GenericName=SNES.emu
Comment=A feature full Super Nintendo emulator.
Exec=/opt/ExplusalphaEmu/Snes9x\ EX+/s9xp
Icon=/opt/ExplusalphaEmu/icons/icon-SNES.svg
Terminal=false
Type=Application
Categories=Game;
