[Unit]
Description=Firebird Database Service (SuperServer)
After=syslog.target network.target

[Service]
User=firebird
Group=firebird
Type=forking
PIDFile=/run/firebird/default.pid
ExecStart=/usr/lib/firebird/bin/fbguard -pidfile /run/firebird/default.pid -daemon -forever
SyslogIdentifier=firebird

[Install]
WantedBy=multi-user.target
