[Desktop Entry]
Name=Forge Adventure Editor
Comment=Forge Adventure Mode content editor
Exec=/usr/bin/forge-adventure-editor
Terminal=false
Type=Application
Categories=Development;Game;
Keywords=mtg;magic;gathering;adventure;shandalar;editor
Icon=forge-gui-desktop
