[Unit]
Description=Minecraft Forge 1.11.2 Server World Backup
After=local-fs.target

[Service]
Type=forking
ExecStart=/usr/bin/forge-1.11.2d backup
User=forge-1-11-2
Group=forge-1-11-2

[Install]
WantedBy=multi-user.target
