[Desktop Entry]
Name=FreeTube Vue
GenericName=YouTube Player
Comment=Rewrite of the open source desktop YouTube player built with privacy in mind.
Exec=freetube-vue-git
Terminal=false
Type=Application
Icon=freetube-vue-git
Categories=Network;
