[Desktop Entry]
Name=Temurin Java 19 Shell
Comment=Temurin Java 19 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-19-temurin/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
