[Desktop Entry]
Name=Temurin Java @MAJORVER@ Console
Comment=Temurin Java @MAJORVER@ Monitoring & Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-@MAJORVER@-temurin/bin/jconsole
Terminal=false
Type=Application
Categories=Application;System;
