[Desktop Entry]
Name=Temurin Java 20 Shell
Comment=Temurin Java 20 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-20-temurin/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
