[Unit]
Description=frp-panel %i service
Documentation=https://vaala.cat/frp-panel/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=0
EnvironmentFile=-/etc/frp-panel/%i.env
WorkingDirectory=/var/lib/frp-panel
ExecStart=/usr/bin/frp-panel %i

[Install]
WantedBy=multi-user.target
