[Desktop Entry]
Type=Application
Name=Ghetto-Skype
Comment=Ghetto-Skype Internet Messaging
Icon=ghetto-skype
Exec=ghetto-skype %U
Categories=Network;InstantMessaging;
StartupNotify=true
Terminal=false
