[Desktop Entry]
Encoding=UTF-8
Name=GoBtye
Comment=GoByte P2P Cryptocurrency
Exec=/usr/bin/gobyte-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/gobyte128.png
MimeType=x-scheme-handler/gobyte;
Categories=Office;
Name[en_US]=gobyte-qt.desktop
