[Desktop Entry]
Name=Grayjay
Comment=Privacy-respecting client for YouTube, Rumble, Twitch, Spotify etc
Exec=grayjay
Icon=grayjay
Terminal=false
Type=Application
Categories=Network;Video;AudioVideo; 