[Desktop Entry]
Name=Grim Fandango
GenericName=Grim Fandango
Comment=Grim Fandango Remastered - GOG Version
Exec=/opt/grim-fandango/start.sh
Icon=/opt/grim-fandango/game/bin/icon.png
Terminal=false
Type=Application
Categories=Game;
