/* https://www.reddit.com/r/elementaryos/comments/eulr2p/pure_black_overlay_on_elementary_dark_theme/ */
/* elementary-gtk black */
@define-color base_color mix (@BLACK_900, @BLACK_500, 0.5);
@define-color bg_color shade (@base_color, 0.1);
@define-color titlebar_color shade (@bg_color, 0.1);
@define-color decoration_border_color alpha (white, 0.15);

/* distinguish dialogs */
dialog decoration,
messagedialog decoration {
  box-shadow: 0 0 0 1px @decoration_border_color;
}
/* distinguish buttons & entries */
button, checkbutton, radiobutton, entry {
  box-shadow: 0 0 0 1px @decoration_border_color;
}

/* boldest font on active tab */
notebook tab:checked label {
  font-weight: 900;
}

/* https://www.reddit.com/r/gnome/comments/eojq1r/what_css_property_controls_this_1px_square_border/fedlzxy/ */
/* Rounded corners */
decoration {
 border-radius: 8px;
}

window, window.background {
 border-radius: 0 0 4px 4px;
}

/* https://wiki.archlinux.org/index.php/GTK#Client-side_decorations */
/* Reduce CSD gaps and shadows */
.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.window-frame.csd.popup {
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
 background-image: none;
 box-shadow: none;
}

GtkLabel.title {
 opacity: 0;
}

/* https://ogbe.net/blog/gnome_titles.html*/
/* shrink headerbars */
headerbar {
 min-height: 0px;
 padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
 padding-right: 2px;
}

headerbar * {
 margin-top: 0px; /* same as headerbar side padding for nicer proportions */
 margin-bottom: 0px;
 padding: 0px;
}

/* shrink ssd titlebars */
.default-decoration {
 min-height: 0; /* let the entry and button drive the titlebar size */
 padding: 0px;
}

.default-decoration .titlebutton {
 min-height: 0px; /* tweak these two props to reduce button size */
 min-width: 0px;
}

window.ssd headerbar.titlebar {
 padding-top: 0px;
 padding-bottom: 0px;
 min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
 padding-top: 0px;
 padding-bottom:0px;
 min-height: 0;
}

/* https://wiki.archlinux.org/index.php/Pantheon#Wingpanel_transparency */
/* wingpanel */
.panel {
/* background-color: transparent;*/
/* background-color: black;*/
 background-color: rgba(0,0,0,0.5);
 transition: all 1s ease-in-out;
}

.panel.maximized {
 background-color: #000;
}
