[Desktop Entry]
Name=guiscrcpy
Comment=GUI for scrcpy
Exec=python /opt/guiscrcpy/__main__.py
Terminal=false
Icon=/opt/guiscrcpy/ui/guiscrcpy_logo.png
Type=Application
Categories=Utility
StartupNotify=false
