[Unit]
Description=A dreadfully simple socket listener that executes commands
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hare-hook

[Install]
WantedBy=multi-user.target
