[Unit]
Description=Horizon EPG update service for TVHeadend
After=tvheadend.service
Requires=tvheadend.service
 
[Service]
Type=simple
Nice=19
ExecStart=/usr/bin/horepgd.py -u hts -g video -p /var/run/horepgd.pid
PIDFile=/var/run/horepgd.pid

[Install]
WantedBy=multi-user.target
