[Desktop Entry]
Type=Service
Name=Images (HEIF)
Name[ar]=الصّور (HEIF)
Name[ast]=Imáxenes (HEIF)
Name[bg]=Изображения (HEIF)
Name[bn]=ছবি (HEIF)
Name[bs]=Slike (HEIF)
Name[ca]=Imatges (HEIF)
Name[ca@valencia]=Imatges (HEIF)
Name[cs]=Obrázky (HEIF)
Name[da]=Billeder (HEIF)
Name[de]=Bilder (HEIF)
Name[el]=Εικόνες (HEIF)
Name[en_GB]=Images (HEIF)
Name[eo]=Bildoj (HEIF)
Name[es]=Imágenes (HEIF)
Name[et]=Pildid (HEIF)
Name[eu]=Irudiak (HEIF)
Name[fa]=تصاویر (HEIF)
Name[fi]=Kuvat (HEIF)
Name[fr]=Images (HEIF)
Name[ga]=Íomhánna (HEIF)
Name[gl]=Imaxes (HEIF)
Name[gu]=ચિત્રો (HEIF)
Name[he]=תמונות (HEIF)
Name[hi]=छवियाँ (HEIF)
Name[hr]=Slike (HEIF)
Name[hu]=Képek (HEIF)
Name[ia]=Imagines (HEIF)
Name[id]=Gambar (HEIF)
Name[is]=Myndir (HEIF)
Name[it]=Immagini (HEIF)
Name[ja]=画像 (HEIF)
Name[ka]=გამოსახულებები (HEIF)
Name[kk]=Кескіндер (HEIF)
Name[km]=រូបភាព (HEIF)
Name[kn]=ಚಿತ್ರಗಳು,(HEIF)
Name[ko]=그림 (HEIF)
Name[lt]=Vaizdai (HEIF)
Name[lv]=Attēli (HEIF)
Name[mai]=चित्र (HEIF)
Name[mr]=प्रतिमा (HEIF)
Name[nb]=Bilder (HEIF)
Name[nds]=Biller (HEIF)
Name[nl]=Afbeeldingen (HEIF)
Name[nn]=Bilete (HEIF)
Name[pa]=ਚਿੱਤਰ (HEIF)
Name[pl]=Obrazy (HEIF)
Name[pt]=Imagens (HEIF)
Name[pt_BR]=Imagens (HEIF)
Name[ro]=Imagini (HEIF)
Name[ru]=Изображения (HEIF)
Name[si]=පින්තූර (HEIF)
Name[sk]=Obrázky (HEIF)
Name[sl]=Slike (HEIF)
Name[sr@ijekavianlatin]=Slike (HEIF)
Name[sr@latin]=Slike (HEIF)
Name[sv]=Bilder (HEIF)
Name[tg]=Тасвирҳо (HEIF)
Name[th]=แฟ้มภาพต่าง ๆ (HEIF)
Name[tr]=Resimler (HEIF)
Name[ug]=سۈرەتلەر (HEIF)
Name[uk]=Зображення (HEIF)
Name[vi]=Ảnh (HEIF)
Name[wa]=Imådjes (HEIF)
Name[x-test]=xxImages (HEIF)xx
Name[zh_CN]=图像 (HEIF)
Name[zh_TW]=影像（HEIF）
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/heif;image/heic;
X-KDE-Library=imagethumbnail
CacheThumbnail=true
