[Desktop Entry]
Name=Instagram
Comment=Instagram client built on nodejs nativefier (electron)
Exec=instagram-nativefier
Icon=instagram-nativefier
Encoding=UTF-8
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;Internet;
