[Desktop Entry]
Name=Inviwo
GenericName=Interactive Visualisation Workshop 
Comment=Software for rapid visualisation prototyping
Type=Application
Exec=inviwo
Icon=inviwo
Terminal=false
Categories=Graphics;Science;Viewer;
