[Desktop Entry]
Version=1.0
Type=Application
Name=ioRTCW MP
Comment=Return To Castle Wolfenstein with Rend2 (Multi Player)
Exec=/usr/bin/iortcw-mp
Icon=iortcw
Terminal=false
Categories=Game
StartupWMClass=iowolfmp.ARCH

