[Desktop Entry]
Version=1.0
Type=Application
Name=Gogland
Icon=/opt/gogland-eap/bin/gogland.png
Exec="/opt/gogland-eap/bin/gogland.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-gogland
