[Desktop Entry]
Encoding=UTF-8
Name=Litecoin
Comment=Litecoin P2P Cryptocurrency
Comment[fr]=Litecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Litecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/litecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/litecoin128.png
MimeType=x-scheme-handler/litecoin;
Categories=Office;
