[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Comment=A secure, private, minimal, cross-platform document editor.
Terminal=false
Exec=/usr/bin/lockbook-gui
Name=Lockbook
Icon=dark-1.svg