[Desktop Entry]
Type=Application
Version=1.5
Name=Logseq Desktop
Comment=A privacy-first, open-source platform for knowledge sharing and management.
Exec=logseq
Terminal=false
