[Desktop Entry]
Encoding=UTF-8
Version=1.2.0
Type=Application
Name=Lyrebird
GenericName=Voice Changer
Icon=/usr/share/lyrebird/icon.png
Exec=/usr/bin/lyrebird
Path=/usr/share/lyrebird/
Terminal=false
Categories=Audio;
