[Desktop Entry]
Name=MapTool
Comment=MapTool
Exec=[ -x /usr/local/bin/MapTool ] && /usr/local/bin/MapTool || /usr/bin/MapTool
Terminal=false
Type=Application
Categories=Unknown
