[Unit]
Description=Matrix-Telegram hybrid puppeting/relaybot bridge

[Service]
ExecStart=python -m mautrix_telegram -b /usr/share/mautrix-telegram/example-config.yaml -c /etc/mautrix-telegram/config.yaml -r /etc/mautrix-telegram/registration.yaml
Restart=on-failure
User=mautrix-telegram
WorkingDirectory=~


[Install]
WantedBy=multi-user.target
