[Desktop Entry]
Name=mBlock
Comment=mblock 4.0
Exec=/opt/mBlock/mblock
Icon=/usr/share/icons/mBlock/48x48.png
Terminal=false
Type=Application
Name[he_IL]=mblock.desktop
