[Desktop Entry]
Type=Application
Name=Melodie
GenericName=Audio Player
GenericName[zh_CN]=音频播放器
Comment=Listen to music
Comment[zh_CN]=倾听音乐
Icon=melodie
Exec="/opt/appimages/melodie.AppImage" %F
Terminal=false
MimeType=application/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/mp3;audio/prs.sid;audio/x-flac;audio/mpeg;audio/x-mpeg;audio/x-mod;audio/x-it;audio/x-s3m;audio/x-xm;audio/x-mpegurl;audio/x-scpls;application/x-cue;
Categories=AudioVideo;
Keywords=Sound;Music;Audio;Player;Musicplayer;MP3;
X-PulseAudio-Properties=media.role=music