[Desktop Entry]
Version=1.0
Type=Application
Name=Memsource Editor
Comment=www.memsource.com
Exec=/usr/bin/memsource %F
MimeType=application/x-memsource-editor-mxliff
Icon=memsource-editor
Path=
Terminal=false
StartupNotify=false
Categories=Office
