// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 He Yangxuan
 */

/dts-v1/;

#include "meson-gxl-s905d-p230.dts"
#include "dt-bindings/leds/common.h"

/ {
    compatible = "phicomm,n1", "amlogic,s905d", "amlogic,meson-gxl";
    model = "Phicomm N1";

    cvbs-connector {
        status = "disabled";
    };

    leds {
        compatible = "gpio-leds";

        led-1 {
            // label = "n1:white:status";
            function = LED_FUNCTION_STATUS;
            color = <LED_COLOR_ID_WHITE>;
            gpios = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
            default-state = "on";
        };
    };

    /delete-node/ sound;
    sound {
        compatible = "amlogic,gx-sound-card";
        model = "PHICOMM-N1";
        assigned-clocks = <&clkc CLKID_MPLL0>,
                          <&clkc CLKID_MPLL1>,
                          <&clkc CLKID_MPLL2>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <294912000>,
	                           <270950400>,
		                       <393216000>;
		status = "okay";

		dai-link-0 {
            sound-dai = <&aiu AIU_CPU CPU_I2S_FIFO>;
		};

		dai-link-1 {
		    sound-dai = <&aiu AIU_CPU CPU_I2S_ENCODER>;
			dai-format = "i2s";
			mclk-fs = <256>;

			codec-0 {
				sound-dai = <&aiu AIU_HDMI CTRL_I2S>;
			};
		};

		dai-link-2 {
			sound-dai = <&aiu AIU_HDMI CTRL_OUT>;

			codec-0 {
				sound-dai = <&hdmi_tx>;
			};
		};
	};
};


&ethmac {
    pinctrl-0 = <&eth_pins>;
    pinctrl-names = "default";

    /* Select external PHY by default */
    phy-handle = <&eth_phy0>;

    amlogic,tx-delay-ns = <2>;

    /* External PHY reset is shared with internal PHY Led signals */
    snps,reset-gpio = <&gpio GPIOZ_14 0>;
    snps,reset-delays-us = <0 10000 1000000>;
    snps,reset-active-low;

    /* External PHY is in RGMII */
    phy-mode = "rgmii";

    mdio {
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        compatible = "snps,dwmac-mdio";
        phandle = <0x1a>;

        eth_phy0: ethernet-phy@0 {
            reg = <0x0>;
            phandle = <0x1d>;
        };
    };
};

/* This UART is connected to the Bluetooth module */
&uart_A {
    status = "okay";
    pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
    pinctrl-names = "default";
    uart-has-rtscts;

    bluetooth {
        compatible = "brcm,bcm43438-bt";
        shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
        max-speed = <2000000>;
        clocks = <&wifi32k>;
        clock-names = "lpo";
    };
};

&cvbs_vdac_port {
    status = "disabled";
};

&usb {
    dr_mode = "host";
};
