[Desktop Entry]
Exec=java -jar /opt/mongochef/data-man-mongodb-pro-3.0.5.jar
Type=Application
Terminal=false
Icon=mongochef
Categories=Development;

Name=MongoChef
GenericName=MongoDB Administration Tool
