[Unit]
Description=A robust, reliable, and easy to install gopher server.
After=network.target network-online.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/motsognir
SyslogLevel=err

[Install]
WantedBy=multi-user.target
