[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MultiMC 5
GenericName=Minecraft launcher
Comment=Greatly enhanced game launcher for Minecraft
Type=Application
Terminal=false
Exec=multimc5
Icon=multimc5
Categories=Application;Game
