[Unit]
Description=Naviserver
After=network.target

[Service]
Type=simple
Environment="LANG=en_US.UTF-8"

ExecStart=/usr/bin/nsd -f -u nsadmin -g nsadmin -t /etc/naviserver/nsd-config.tcl

Restart=on-abnormal
KillMode=process
