[Desktop Entry]
Type=Application
Name=neomod
Icon=/usr/share/pixmaps/neomod.png
Comment=Third-party McOsu fork, with additional features
Exec=/usr/bin/neomod %u
Categories=Game;
MimeType=x-scheme-handler/neomod;
