[Desktop Entry]
Name=OnlineFix Linux Launcher
GenericName=Launch OnlineFixes on Linux!
Exec=/usr/bin/onlinefix-linux-launcher
Icon=onlinefix-linux-launcher
Type=Application
StartupWMClass=org.develnext.jphp.ext.javafx.classes.UXApplication$CustomApplication
