[Desktop Entry]
Version=3.1.0
Type=Application
Name=Opentrack
Exec=/usr/bin/opentrack
Icon=/opt/opentrack/contrib/cute-octopus-vector-material_15-1831.jpg
Terminal=false
StartupNotify=true

