[Desktop Entry]
Type=Application
Name=Opentrack - Wayland
Comment=Head tracking software
Exec=opentrack --platform xcb
Icon=/usr/share/doc/opentrack/contrib/cute-octopus-vector-material_15-1831.jpg
Terminal=false
StartupNotify=true
Categories=Utility;
