[Desktop Entry]
Name=Pawtop
GenericName=Internet Messenger
Comment=Pawtop is an Equicord fork that is a free/libre cross platform desktop app aiming to give you a snappier Discord experience with PawsomeVencord pre-installed
Type=Application
Exec=/usr/bin/pawtop
Icon=pawtop
Categories=Network;InstantMessaging;
StartupWMClass=pawtop
Keywords=discord;vencord;pawtop;equicord;equibop;pawsomevencord
