[Unit]
Description=PDS Gatekeeper - 2FA microservice for self-hosted AT Protocol PDSes
Documentation=https://tangled.org/baileytownsend.dev/pds-gatekeeper

[Service]
User=pds-gatekeeper
Group=pds-gatekeeper
EnvironmentFile=/etc/pds-gatekeeper.env
ExecStart=/usr/bin/pds-gatekeeper

NoNewPrivileges=yes
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=noaccess
ProcSubset=pid
LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
PrivateDevices=yes
PrivateUsers=self
PrivateTmp=yes
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
