[Desktop Entry]
Type=Application
Name=PIA (bin)
Comment=Privacy Impact Assessment
Icon=pia-bin
Exec=pia-bin
NoDisplay=false
Categories=Office;
StartupNotify=false
Terminal=false
