[Unit]
Description=PIM Daemon
After=network.target
ConditionPathExists=/etc/pimd.conf

[Service]
Type=forking
PIDFile=/var/run/pimd.pid
ExecStart=/usr/sbin/pimd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
