[Desktop Entry]
Type=Application
Name=PINCE
GenericName=Memory Scanner and Debugger
Comment=Reverse engineering tool for linux games
Exec=pince %F
Icon=pince
Terminal=false
Categories=Development;Debugger;
Keywords=memory;scanner;debugger;reverse;engineering;gdb;cheat;
