# Maintainer: Brocode <bros at brocode dot sh>

pkgname=goat
pkgver=__VERSION__
pkgrel=__PKGREL__
pkgdesc="better sleep"
arch=('x86_64')
url="https://github.com/brocode/goat"
license=('WTFPL')
source=('__SOURCE__')
sha256sums=('__SHA256__')

package() {
  mkdir -p "${pkgdir}/usr/bin"
  chmod +x goat
  cp goat "${pkgdir}/usr/bin/goat"
}

