# Maintainer: {{MAINTAINER}}
pkgname={{PKGNAME}}
_binname={{BINNAME}}
pkgver={{PKGVER}}
pkgrel={{PKGREL}}
pkgdesc="{{PKGDESC}}"
arch=(i686 x86_64)
url="https://github.com/{{USER}}/{{REPO}}"
license=("MIT" "APACHE")
depends=()
makedepends=("rust" "cargo")
conflicts={{CONFLICTS}}

source=("https://github.com/{{USER}}/{{REPO}}/archive/v${pkgver}.tar.gz")
md5sums=('{{MD5SUM}}')

build() {
	cd "$srcdir/${_binname}-${pkgver}"
	cargo build --release
}

package() {
	cd "$srcdir/${_binname}-${pkgver}"
	install -Dm755 "target/release/${_binname}"        "$pkgdir/usr/bin/${_binname}"
	install -Dm644 "completions/fish/${_binname}.fish" "$pkgdir/usr/share/fish/vendor_completions.d/${_binname}.fish"
	install -Dm644 "completions/zsh/_${_binname}"      "$pkgdir/usr/share/zsh/site-functions/_${_binname}"
	install -Dm644 "README.md"                        "$pkgdir/usr/share/doc/${_binname}/README.md"
	install -Dm644 "LICENSE-MIT"                      "$pkgdir/usr/share/licenses/${_binname}/LICENSE-MIT"
	install -Dm644 "LICENSE-APACHE"                   "$pkgdir/usr/share/licenses/${_binname}/LICENSE-APACHE"
}

# vim:set noet sts=0 sw=4 ts=4 ft=PKGBUILD:
