[Desktop Entry]
Type=Application
Name=Plex Media Player
GenericName=Media Player
Exec=/usr/bin/plexmediaplayer
Icon=plex-media-player
Categories=AudioVideo;
