[Unit]
Description=Plikd temporary file sharing server
Wants=network-online.target
After=network.target network-online.target

[Service]
User=root
Group=root
Type=notify
LimitNOFILE=16384
ExecStart=/usr/bin/plikd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
