[Desktop Entry]
Type=Application
Name=Popcorn Time
Icon=popcorntime
Exec=popcorntime %U
Comment=Stream movies and TV shows from torrents
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=AudioVideo;Video;Player;Network;FileTransfer;P2P;
Terminal=false
