[Unit]
Description=Prometheus Keepalived exporter
After=network.target network-online.target basic.target keepalived.service
Wants=network-online.target keepalived.service
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
EnvironmentFile=-/etc/conf.d/prometheus-keepalived-exporter
ExecStart=/usr/bin/prometheus-keepalived-exporter $OPTIONS
Type=simple
Restart=on-failure
RestartSec=30
User=prometheus-keepalived-exporter
Group=prometheus-keepalived-exporter

[Install]
WantedBy=multi-user.target
