[Unit]
Description=Prometheus exporter for Free Range Routing
Documentation=https://github.com/tynany/frr_exporter
Requires=network-online.target
After=network-online.target nss-lookup.target basic.target frr.service
Wants=network-online.target nss-lookup.target frr.service

[Service]
User=prometheus-frr-exporter
Group=frrvty
EnvironmentFile=-/etc/conf.d/prometheus-frr-exporter
ExecStart=/usr/bin/prometheus-frr-exporter $FRR_EXPORTER_ARGS
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectHostname=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
LockPersonality=true
RestrictRealtime=true
RestrictNamespaces=true
MemoryDenyWriteExecute=true
PrivateDevices=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
