[Unit]
Description=Prometheus service
After=network.target

[Service]
User=prometheus
Group=prometheus
ExecStart=/usr/bin/prometheus
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
