makedepends+=("python-setuptools" "python-dephell")

prepare() {
    cd "$pkgname"
    dephell deps convert --from pyproject.toml --to setup.py
}

build() {
    cd "$pkgname"
    python setup.py build
}

package() {
    cd "$pkgname"
    python setup.py install --root="$pkgdir" --optimize=1 --skip-build
}
