[Unit]
Description=PowerPanel for Linux software can be used with most CyberPower UPS products.

[Service]
ExecStart=/usr/bin/pwrstatd

[Install]
WantedBy=multi-user.target
