[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools"]

[project]
name = "shrinko8"
version = "{{ pkgver }}"

[tool.setuptools]
packages = ["shrinko8"]

[tool.setuptools.package-data]
shrinko8 = ["font.png", "template.png"]
