[Desktop Entry]
Name=QSSTV
GenericName=Slow Scan TV
Comment=Receive and transmit SSTV and DSSTV
Exec=qsstv
Icon=qsstv
Terminal=false
Type=Application
Categories=AudioVideo;HamRadio;
