[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Qtcam
Comment=Open Source Linux Webcamera Software
Exec=Qtcam
Icon=/usr/share/pixmaps/qtcam.jpg
Terminal=false
StartupNotify=false
Categories=Application;
