[Desktop Entry]
Name=QtWebFlix
GenericName=QtWebFlix
Comment=Standalone player for several streaming platforms
Categories=Network;AudioVideo;Player;
Exec=/usr/bin/qtwebflix --disable-seccomp-filter-sandbox 
Icon=qtwebflix.svg
StartupNotify=false
Terminal=false
Type=Application

