[Desktop Entry]
Type=Application
Version=1.0
Name=Red Eclipse
Comment=A free arena shooter
Path=/opt/redeclipse
Exec=redeclipse.sh
Icon=redeclipse
Terminal=false
Categories=Game;Shooter;ActionGame
