[Unit]
ConditionPathExists=/usr/bin/remotemouse
Description=Turn your mobile phone or tablet into a set of wireless mouse, keyboard and trackpad
Documentation=https://remotemouse.net/

[Service]
ExecStart=/usr/bin/remotemouse

[Install]
WantedBy=xorg.target
