[Desktop Entry]
Type=Application
Version=1.1
Name=Remote Mouse
Comment=Turn your mobile phone or tablet into a set of wireless mouse, keyboard and trackpad
Exec=remotemouse
Icon=RemoteMouse
Terminal=false
StartupNotify=false
