[Unit]
Description=rfled-server
After=syslog.target network.target 

[Service]
Type=simple
ExecStart=/usr/sbin/rfled-server -serial /dev/ttyLEDBridge0

[Install]
WantedBy=multi-user.target
