[Unit]
Description=Rocket.chat docker-compose service
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/usr/share/rocketchat-server/
PreStart=printf "# BUILD ON RUNTIME\!\n#/usr/share/rocketchat-server/docker.env:\n" > .env
PreStart=/usr/bin/sh createEnvFile.sh
ExecStart=/usr/bin/docker-compose up rocketchat-server.yml
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target

