[Desktop Entry]
Type=Application
Version=1.16.3
Name=Runebook
Comment=Arcane Rune Pages manager for League of Legends
Exec=runebook
Icon=runebook
Terminal=false
Categories=Game;Utility;
