[Unit]
Description=Sentry
After=network.target
Requires=sentry-celery.service

[Service]
User=sentry
Restart=always
Environment=PATH=/opt/sentry/bin
ExecStart=/opt/sentry/bin/sentry --config=/etc/sentry start
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
