[Desktop Entry]
Type=Application
Name=Signal Desktop Beta
Comment=Signal Private Messenger for Linux - Beta version.
Icon=signal-desktop-beta
Exec=signal-desktop-beta -- %u
Terminal=false
Categories=Network;InstantMessaging;Chat;
StartupWMClass=SignalBeta
MimeType=x-scheme-handler/sgnl;
Keywords=sgnl;chat;im;messaging;messenger;sms;security;privat;
X-GNOME-UsesNotifications=true
