[Unit]
Description=SimpleRT Daemon

[Service]
Type=idle
ExecStart=/usr/lib/simple-rt/simple-rt -i enp5s0
WorkingDirectory=/usr/lib/simple-rt
Restart=always

[Install]
WantedBy=multi-user.target
