pkgbase = python-bivalve
    pkgdesc = A bi-directional shell-like socket protocol framework using asyncio
	pkgver = {{version}}
	pkgrel = 1
	url = https://github.com/lainproliant/bivalve
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/b/bivalve/bivalve-{{version}}.tar.gz
    sha256sums = {{checksum}}

pkgname = python-bivalve
	depends = python
