[Unit]
Description=Subsonic
After=network.target
 
[Service]
User=subsonic
ExecStart=/var/lib/subsonic/subsonic.sh
ExecStop=/bin/kill -15 $MAINPID
Type=forking
 
[Install]
WantedBy=multi-user.target
