[Unit]
Description=Cplint on SWISH
Documentation=http://github.com/friguzzi/cplint

[Service]
ExecStart=/usr/bin/swish-cplint
Type=forking
PIDFile=/run/swish-cplint.pid
User=root
Group=root

[Install]
WantedBy=default.target

