[Desktop Entry]
Name=System bridge
Comment=A bridge for your systems.
Exec=python -m systembridgegui main
Icon=system-bridge
Type=Application
Categories=System;
