# Telldusd service unit file
#
[Unit]
Description=Telldus-core service telldusd
After=basic.target

[Service]
Type=forking
ExecStart=/usr/bin/telldusd
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/telldusd.pid

[Install]
WantedBy=multi-user.target
