[Desktop Entry]
Type=Application
Name=Touhou Koumakyou - Embodiment of Scarlet Devil; Wine version
Comment=Sixth game of the Touhou Project series
Exec=/usr/bin/th06-demo-wine
Icon=th06-demo
Categories=Game;
Terminal=false
StartupNotify=false
