[Desktop Entry]
Name=The Fall
GenericName=The Fall
Comment=An adventure, puzzle, and side-scroller action game
Exec=/usr/bin/thefall
Icon=/usr/share/pixmaps/thefall.png
Terminal=false
Type=Application
Categories=Game;
