[Desktop Entry]
Version=1.0
Name=Thunderbird Nightly
Name[it]=Thunderbird Nightly
Name[it_IT]= Thunderbird Nightly
GenericName=Mail Client & News Reader
GenericName[it]=Client email e lettore di notizie
GenericName[it_IT]=Client email e lettore di notizie
Comment=Mail & News Reader
Comment[it]=Lettore di email e notizie
Comment[it_IT]=Lettore di email e notizie
Keywords=email;mail;e-mail;news;rss;
Keywords[it]=email;mail;e-mail;news;notizie;rss;
Keywords[it_IT]=email;mail;e-mail;news;notizie;rss;
Exec=thunderbird-nightly-it %u
TryExec=thunderbird-nightly-it
Icon=thunderbird-nightly-it
Terminal=false
Type=Application
Categories=Network;Email;GNOME;GTK;
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupNotify=true
