[Desktop Entry]
Categories=Network;
Version=4.10.0
Name=ThinLinc Client
GenericName=Remote desktop application
Comment=The ThinLinc client - a remote desktop application
Exec=/usr/bin/tlclient
Icon=/usr/share/tlclient/tlclient.png
Terminal=false
Type=Application
NoDisplay=false
