[Unit]
Description=Traefik reverse proxy
After=network.target
After=syslog.target

[Service]
Type=simple
User=traefik
Group=traefik
ExecStart=/usr/bin/traefik

[Install]
WantedBy=multi-user.target
