## DSLogic udev rules

ATTR{idVendor}!="2a0e", GOTO="not_DreamStudio"
# Logic analyzer
ATTR{idProduct}=="0001", SYMLINK+="dslogic", MODE="0660", GROUP="plugdev", TAG+="uaccess"
ATTR{idProduct}=="0003", SYMLINK+="dslogic", MODE="0660", GROUP="plugdev", TAG+="uaccess"
# Oscilloscope
ATTR{idProduct}=="0002", SYMLINK+="dslogic_scope", MODE="0660", GROUP="plugdev", TAG+="uaccess"
LABEL="not_DreamStudio"
