[Unit]
Description=USB Gadget ECM Network
Before=gadget-start.service
After=modprobe@usbfunc:ecm.service NetworkManager.service systemd-networkd.service gadget-init.service dnsmasq.service
Wants=modprobe@usbfunc:ecm.service
Requires=gadget-init.service
[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=gadget-func-ecm
EnvironmentFile=/etc/default/gadget
WorkingDirectory=/sys/kernel/config/usb_gadget
ExecStart=/usr/bin/mkdir ${GADGET}/functions/ecm.0
ExecStart=/usr/bin/ln -s ${GADGET}/functions/ecm.0 ${GADGET}/configs/a.1/
ExecStop=/usr/bin/rm ${GADGET}/configs/a.1/ecm.0
ExecStop=/usr/bin/rmdir ${GADGET}/functions/ecm.0
[Install]
WantedBy=usb-gadget.target
