[Unit]
Description=USB Gadget Audio 2.0
Before=gadget-start.service
After=modprobe@usbfunc:uac2.service gadget-init.service
Wants=modprobe@usbfunc:uac2.service
Requires=gadget-init.service
[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=gadget-func-uac2
EnvironmentFile=/etc/default/gadget
WorkingDirectory=/sys/kernel/config/usb_gadget
ExecStart=/usr/bin/mkdir ${GADGET}/functions/uac2.0
ExecStart=/usr/bin/ln -s ${GADGET}/functions/uac2.0 ${GADGET}/configs/a.1/
ExecStop=/usr/bin/rm ${GADGET}/configs/a.1/uac2.0
ExecStop=/usr/bin/rmdir ${GADGET}/functions/uac2.0
[Install]
WantedBy=usb-gadget.target
