[Install]
WantedBy=multi-user.target

[Unit]
Description=WangYunChuan Service for instance %i
Documentation=https://wangyunchuan.com
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=wangyunchuan
Group=wangyunchuan
WorkingDirectory=/var/lib/wangyunchuan
ExecStart=/usr/bin/wangyunchuan-wrapper %i
SyslogIdentifier=wangyunchuan-%i

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
