[Unit]
Description=!aterfall Server World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/waterfall backup
User=waterfall
Group=waterfall

[Install]
WantedBy=multi-user.target
