[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/ms-office/WebSkype.png
Type=Application
Categories=Network;
Exec=webskype
Name=Skype for Web
GenericName=Skype
GenericName[en]=Skype
StartupNotify=true
