.lang {
    display: none !important;
}

.copyright {
    display: none !important;
}

.main {
    height: 100% !important;
    padding-top: 0 !important;
}

.main_inner {
    max-width: 100% !important;
}

.tab {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.tab .tab_item.ng-scope {
    display: none !important;;
}

.tab .tab_item:after {
    border-right: 1px solid #00000000 !important;
}

.web_wechat_screencut {
    display: none !important;
}
