[Desktop Entry]
Version=1.0
Type=Application
Name=Wizorb
Comment=Block-breaking game set in a fantasy world
Icon=/opt/wizorb/data/Wizorb.bmp
Exec=/usr/bin/wizorb
Terminal=false
StartupNotify=false
Categories=Game;
