[Unit]
Description=Daemon for xflux

[Service]
Type=forking
EnvironmentFile=/etc/xfluxd.conf
ExecStart=/usr/bin/xflux -l $LAT -g $LON -k $TEMP
Restart=always

[Install]
WantedBy=default.target
