[Unit]
Description=XMRig Daemon for xmrig-mo-beta
After=network.target

[Service]
User=xmrig
Group=xmrig
Type=forking
ExecStart=/usr/bin/xmrig-mo-beta -c xmrig-mo-beta.conf -B
WorkingDirectory=/etc/xmrig-mo-beta
Restart=on-failure
RestartSec=20s
StartLimitInterval=30min
StartLimitBurst=30

[Install]
WantedBy=multi-user.target
