[Unit]
Description=Xrandr Watcher

[Service]
Type=simple
Environment=XRANDR_DEFAULT_HANDLER_SCRIPT=/usr/bin/xrandr-watcher-handler-example
ExecStart=/usr/bin/xrandr-watcher %h/.xrandr-changed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
