[Unit]
Description = M3U Proxy for Plex DVR and Emby Live TV.
After = network-online.target

[Service]
ExecStart = /usr/bin/xteve --config .config/xteve
KillMode = process
Restart = always
RestartSec = 15
ExecStopPost = /usr/bin/rm -rf /tmp/xteve

[Install]
WantedBy = default.target
