[Unit]
Description=ZoneMinder - CCTV Monitoring and Recording System
After=network.target mariadb.service
Wants=mariadb.service

[Service]
User=http
Type=forking
ExecStart=/usr/bin/zmpkg.pl start
ExecReload=/usr/bin/zmpkg.pl restart
ExecStop=/usr/bin/zmpkg.pl stop
PIDFile=/run/zoneminder/zm.pid
Environment=TZ=:/etc/localtime

[Install]
WantedBy=multi-user.target
